﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChatAlfa01</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic' rel='stylesheet' type='text/css'>


    <!-- Styles -->
    <!-- Font awesome CSS -->
    <link href="~/lib/components-font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Animate CSS -->
    <link href="~/lib/animate.css/animate.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/message.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/angular-tree-control/css/tree-control.css" rel="stylesheet" />
    @*<link href="~/css/treeview.css" rel="stylesheet" />*@
    @*<link href="~/lib/angular-ui-tree/dist/angular-ui-tree.css" rel="stylesheet" />*@

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body ng-app="app">
    @RenderBody()
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <!-- Respond JS for IE8 -->
    <script src="~/lib/respond/src/respond.js"></script>
    <!-- HTML5 Support for IE -->
    <script src="~/lib/html5shiv/dist/html5shiv.js"></script>
    <!-- Custom JS -->
    <script src="~/js/custom.js"></script>

    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-aria/angular-aria.js"></script>
    <script src="~/lib/angular-cookies/angular-cookies.js"></script>
    <script src="~/lib/angular-messages/angular-messages.js"></script>
    <script src="~/lib/angular-resource/angular-resource.js"></script>
    <script src="~/lib/angular-route/angular-route.js"></script>
    <script src="~/lib/angular-sanitize/angular-sanitize.js"></script>
    <script src="~/lib/angular-touch/angular-touch.js"></script>
    <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="~/js/app.js"></script>
    <script src="~/js/factories/api.js"></script>

    <script src="~/js/factories/storage.js"></script>
    <script src="~/js/controllers/home.js"></script>
    <script src="~/js/controllers/index.js"></script>
    <script src="~/js/controllers/talk.js"></script>
    <script src="~/js/directives/resize.js"></script>
    <script src="~/js/directives/csser.js"></script>
    <script src="~/js/controllers/modal.js"></script>
    <script src="~/lib/angular-ui-tree/dist/angular-ui-tree.js"></script>
    <script src="~/lib/angular-tree-control/angular-tree-control.js"></script>
    <script src="~/lib/signalr/jquery.signalr.js"></script>
    <script src="~/js/factories/signal.js"></script>
    <script src="~/signalr/hubs"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
