﻿html {
    position: relative;
    min-height: 100%;
    padding-top: 60px;
    /*padding-bottom: 20px;*/

}

.navbar-inverse .navbar-brand {
    color: #fed136;
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    float: left;
    height: 60px;
    padding: 15px 15px;
    font-size: 28px;
    line-height: 30px;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.body-content {
    min-height: 100%;
    height: 100%;
}

input,
select,
textarea {
    max-width: 280px;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

body {
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;*/
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


.my-header {
    background-image: url(../img/header-bg.jpg);
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff;
}

.my-header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

    .my-header .intro-text .intro-lead-in {
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-style: italic;
        font-size: 22px;
        line-height: 22px;
        margin-bottom: 25px;
    }

    .my-header .intro-text .intro-heading {
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 25px;
    }

@media (min-width:768px) {
    .my-header .intro-text {
        padding-top: 150px;
        padding-bottom: 200px;
    }

        .my-header .intro-text .intro-lead-in {
            font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
            font-style: italic;
            font-size: 40px;
            line-height: 40px;
            margin-bottom: 25px;
        }

        .my-header .intro-text .intro-heading {
            font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 75px;
            line-height: 75px;
            margin-bottom: 50px;
        }
}
