﻿.sel {
}

.nohover:hover {
    color: #337ab7;
    text-decoration: underline;    
    /* or something like that */
}
.sel a:focus {
  color: #00bfff;
}

.sel a {
    color: #00bfff;
}

.noback {
    background: transparent !important;
}

.rel {
    position: relative;
}

.abs {
    position: absolute;
}

.white {
    color: white;
}

.inline {
    display: inline;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.user-panel {
    position: relative;
    width: 100%;
    padding: 10px;
    overflow: hidden;
}

    .user-panel:before,
    .user-panel:after {
        content: " ";
        display: table;
    }

    .user-panel:after {
        clear: both;
    }

    .user-panel > .image > img {
        width: 100%;
        max-width: 45px;
        height: auto;
    }

    .user-panel > .info2 {
        padding: 5px 5px 5px 15px;
        line-height: 1;
        position: absolute;
        left: 55px;
    }

        .user-panel > .info2 > p {
            font-weight: 600;
            margin-bottom: 9px;
            color: white;
        }

        .user-panel > .info2 > a {
            text-decoration: none;
            padding-right: 5px;
            margin-top: 3px;
            font-size: 11px;
        }

            .user-panel > .info2 > a > .fa,
            .user-panel > .info2 > a > .ion,
            .user-panel > .info2 > a > .glyphicon {
                margin-right: 3px;
            }

.style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #555;
}

.style-1::-webkit-scrollbar {
    width: 12px;
    background-color: black;
}

.style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: lightsteelblue;
}

body, html {
    margin: 0;
    overflow: hidden;
    height: 100%;
}


.my-header {
    background-image: url(../img/header-bg.jpg);
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff;
}

.my-header .intro-text {
}

    .my-header .intro-text .intro-lead-in {
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-style: italic;
        font-size: 22px;
        line-height: 22px;
        margin-bottom: 25px;
    }

    .my-header .intro-text .intro-heading {
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 25px;
    }

@media (min-width:768px) {
    .my-header .intro-text {
        padding-top: 150px;
        padding-bottom: 200px;
    }

        .my-header .intro-text .intro-lead-in {
            font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
            font-style: italic;
            font-size: 40px;
            line-height: 40px;
            margin-bottom: 25px;
        }

        .my-header .intro-text .intro-heading {
            font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 75px;
            line-height: 75px;
            margin-bottom: 50px;
        }
}


.scroll-area {
    width: 100%;
    /*margin-top: 100px;*/
    /*float: left;*/
    overflow-y: scroll;
}

.max-height {
    height: 100%;
}

.scrollable {
    overflow-y: auto;
    max-height: calc(100%);
    /*max-height: 60%;*/
}

.onoffswitch {
    position: relative;
    width: 88px;
    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block;
        float: left;
        width: 50%;
        height: 30px;
        padding: 0;
        line-height: 30px;
        font-size: 14px;
        color: white;
        font-family: Trebuchet, Arial, sans-serif;
        font-weight: bold;
        box-sizing: border-box;
    }

    .onoffswitch-inner:before {
        content: "Public";
        padding-left: 10px;
        background-color: #5DE314;
        color: #FFFFFF;
    }

    .onoffswitch-inner:after {
        content: "Private";
        padding-right: 10px;
        background-color: #FF0000;
        color: #BFFF00;
        text-align: right;
    }

.onoffswitch-switch {
    display: block;
    width: 18px;
    margin: 6px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 54px;
    border: 2px solid #999999;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
