﻿<div class="my-header ">
    <div class="intro-text">
        <div class="intro-lead-in">Start chatting right now!</div>
        <div class="intro-lead-in">Select conversation on navigation panel</div>
    </div>
</div>