﻿<div class="modal-header">
    <h3>Edit</h3>
</div>
<form ng-submit="submit()">
    <div class="modal-body">
        <div class="input-group">
            <label>Title</label>
            <input type="text" ng-model="conversation.Title" class="form-control"/>
        </div>        

        <h4>Select members</h4>
        <div class="input-group">
            <input type="text" ng-model="asyncSelected" placeholder="Username" uib-typeahead="user for user in getLocation($viewValue)" typeahead-min-length="2" typeahead-on-select="onSelect($item, $model, $label)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
            <span class="input-group-btn">
                <button ng-disabled="buttonAdd" class="btn btn-default" ng-click="Add()" type="button">Add</button>
            </span>
        </div>
        <div>
            <ul class="list-unstyled list">
                <li ng-repeat="member in conversation.Members">
                    {{member}}
                    <a href="" ng-click="delete(member)" class="anchorLink"><i class="fa fa-remove scolor"></i></a>
                </li>
            </ul>
        </div>
        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
        <div ng-show="noResults">
            <i class="glyphicon glyphicon-remove"></i> No Results Found
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        <input type="submit" class="btn primary-btn" value="Submit" />
    </div>
</form>