﻿<div ng-style="style(50)" resize>
    <div id="messages" class="messages scroll-area">
        <ul>
            <li ng-repeat="mess in data.messages" id="{{mess.Id}}">
                <!--<div class="profile-avatar">
                    <img class="img-responsive" src="{{mess.UserIcon}}" alt="profile picture">
                </div>-->
                <div>{{mess.Author}}</div>
                <div class="">
                    <span class="left">{{mess.Text}}</span>
                </div>

                <div class="clear"></div>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
    <br />

</div>
<div class="input-group">
    <!--<textarea class="form-control custom-control" ng-model="vm.newMessage" rows="3" style="resize: none"></textarea>
    <span ng-click="vm.Send()" class="input-group-addon btn btn-primary" id="submitMyForm">Send</span>-->
    <input type="text" ng-model="vm.newMessage" class="form-control">
    <span class="input-group-btn">
        <button class="btn btn-default" ng-click="vm.Send()" type="button">Send</button>
    </span>
</div>
