﻿@{
    ViewData["Title"] = "About";
}
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <section>

            <h2>@ViewData["Title"].</h2>
            <h3>Chatly</h3>

            <p>This is young and ambitious project which was developed for bachelor's degree</p>
        </section>
    </div>
</div>
