﻿@{
    ViewData["Title"] = "Contact";
}


<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <section>
            <h2>@ViewData["Title"].</h2>
            <address>
                MyComp Inc.<br />
                Lviv, Ukraine, Zolota 10<br />
                <abbr title="Phone">P:</abbr>
                096.956.8706
            </address>

            <address>
                <strong>Support:</strong> <a href="mailto:romaneo95@gmail.com">romaneo95@gmail.com</a><br />
            </address>
            
        </section>
    </div>
</div>
