﻿@using System.Runtime.InteropServices
@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";
    Layout = "_EmptyLayout";
}

<div class="outer" ng-controller="home as vm">

    <!-- Sidebar Start-->
    <!-- Menu for tablets and mobile -->
    <div class="navigation">
        <a href="#">Menu</a>
    </div>
    <div class="sidebar" ng-style="style()" resize>
        <!-- Logo of company -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/images/user.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info2">
                <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
                    <p>
                        <a asp-controller="Manage" asp-action="Index" title="Manage"> @User.GetUserName()</a>
                    </p>
                    <button type="submit" class="btn btn-link navbar-link nopadding"><i class="fa fa-sign-out"></i>Log off</button>
                </form>
            </div>
        </div>
        <div class="sidebar-search">
            <form>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Text to search">
                    <span class="input-group-btn">
                        <button class="btn btn-danger" type="button"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
        </div>
        <div>
            <ul class="list-unstyled list">
                <li><a href="" ng-click="vm.CreateConversation()" class="anchorLink"><i class="fa fa-plus scolor"></i> Add conversation</a></li>
            </ul>
        </div>
        <!-- Navigation menu list -->
        <div ng-style="style(205)" class="li-parent" resize>
            <treecontrol class="tree-dark"
                         tree-model="data"
                         options="treeOptions"
                         on-selection="showSelected(node)" 
                         selected-node="selected">
                <div csser ng-style="margin(0,3,50,3)" ng-mouseleave="hover(node)" ng-mouseenter="hover(node)" class="inline rel">
                    <a class="nohover"  href="#/talk{{node.ConvId ? '/'+ node.ConvId : ''}}/{{node.Id}}">{{node.Name}}</a>

                    <a ng-click="settings(node)" data-toggle="dropdown" href="" class="abs" ng-show="node.Show"><i csser ng-style="padding(0,3,12,3)" class="fa fa-gears pull-right white"></i></a>
                    <ul  class="dropdown-menu">
                        <li ng-style="padding(0,0,0,0)"><a href=""  ng-click="vm.Edit(node)"><i ng-style="padding(0,0,10,0)" class="fa fa-plus "></i>Edit</a></li>
                        <li ng-style="padding(0,0,0,0)"><a href=""  ng-click="vm.AddBranch(node)"><i ng-style="padding(0,0,10,0)" class="fa fa-plus "></i>Add branch</a></li>
                    </ul>
                </div>
            </treecontrol>

        </div>

    </div>

    <!-- Sidebar End -->
    <!-- Main Start -->

    <div class="main">
        <div class="container-fluid">
            <div class="row ">
                <div class="col-md-10 max-height">
                    <div ng-view=""></div>
                </div>

                <div ng-show="vm.data.users.length" class="col-md-2 hidden-sm sidebar">
                    <ul class="list-unstyled list">
                        <li ng-repeat="branch in vm.data.users">
                            <a href="">{{branch}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>	<!-- This end div for main class -->
</div>
<div class="clearfix"></div>
<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span>
