﻿@{
    ViewData["Title"] = "About";
    //Layout = null;
}

@*<!DOCTYPE html>
    <html>
    <head>
        <title></title>
    </head>
    <body>
        <h2>Чат-комната</h2>

        <div class="main">
            <div id="loginBlock">
                Введите логин:<br />
                <input id="txtUserName" type="text" />
                <input id="btnLogin" type="button" value="Войти" />
            </div>
            <div id="chatBody">
                <div id="header"></div>
                <div id="inputForm">
                    <input type="text" id="message" />
                    <input type="button" id="sendmessage" value="Отправить" />
                </div>
                <div id="chatroom"></div>

                <div id="chatusers">
                    <p><b>Все пользователи</b></p>
                </div>
            </div>
            <input id="hdId" type="hidden" />
            <input id="username" type="hidden" />
        </div>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/signalr/jquery.signalr.js"></script>
        <!--Ссылка на библиотеку SignalR -->
        <!--Ссылка на автоматически сгенерированный скрипт хаба SignalR -->
        <script src="~/signalr/hubs"></script>
        <script src="~/js/util.js"></script>
    </body>
    </html>*@


<div class="my-header ">
    <div class="intro-text">
        <div class="intro-lead-in">Welcome To Chatly!</div>
        <div class="intro-heading">It's Nice To Meet You</div>
        <a  asp-controller="Home" asp-action="About" class="btn btn-default btn-success btn-lg">Explore</a>
    </div>
</div>
